/* GOOGLE FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins:wght@400;500&family=Sacramento&family=Ubuntu&display=swap');

:root{
    --header-height : 3rem;
    
    --hue-color:200;  /* yellow:390 green:142 blue:230 */

    /* COLORS  */
    --first-color : hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;

     /* Fonts */
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* font weight  */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes bottom  */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Z index  */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100;
}

@media screen and (min-width:968px) {
  :root{
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}


/*******Base*******/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{

    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}


/* RESUMABLE CSS CLASSES */
.section{
    padding: 2rem 0 4rem;
}
.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
     margin-bottom: var(--mb-3);
}

.section__title,.section__subtitle{
    text-align: center;
}

/* Layout */
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);

}


/* ________NAVBAR_______ */

.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
     align-items: center;
}

.nav__logo,.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);

}

.nav__logo:hover{
    color: var(--first-color);
     
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width:767px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
     
}
.nav__close:hover{
    color: var(--first-color-alt);
}

.show-menu{
    bottom: 0;  
}


/* Variable dark theme  */
body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color),29%,16%);
}

/* Dark Theme  */
.nav__btns{
    display: flex;
    align-items: center;
}
.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}
.change-theme:hover{
    color: var(--first-color);
}

/* _____________HOME____________ */
.home__blob{
    width: 250px;
    fill: var(--first-color);
}
.home__blob-img{
    width: 220px;
}

.home__container{
    gap: 1rem;

}
.home__content{
    grid-template-columns: 5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}
.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__data{
    grid-column: 1/3; 
}
.home__title{
    font-size: var(--big-font-size);
}
.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    margin-bottom: var(--mb-2);
}
.home__scroll{
    display: none;
}
.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}
.home__scroll-button:hover{
    transform: translateY(.25rem);
}

.home__scroll-mouse{
    font-size: 2rem;
}
.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
    font-size: 1.25rem;
}


/* ______________Buttons______________ */

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    border-color: var(--first-color);
}
.button:hover{
    background-color: var(--first-color-alt);
}
.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}
.button--flex{
    display: inline-flex;
    align-items: center;
}


/* _____________SKILLS____________ */

.page-container {
    width: 100%;
    overflow: hidden; /* Hide horizontal overflow */
}

/* Define a fixed-width container for the cards */
.card-scroll-container {
    width: 100%; /* 100% width to stretch across the page */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent cards from wrapping to the next line */
}

/* Define a container for the cards */
.card-container {
    display: inline-flex; /* Arrange cards horizontally */
    justify-content: space-between; /* Space evenly between cards */
    padding: 20px; /* Add some padding for spacing */
}

/* Style for each card */
.card {
    flex: 0 0 calc(33.333% - 20px); /* Set the card width */
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width:300px;
    height:350px;
    margin-right: 20px; /* Add some margin between cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardcenter {
    flex: 0 0 calc(33.333% - 20px); /* Set the card width */
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 50%;
    justify-content: center;
    padding: 20px;
    width:150px;
    height:150px;
    margin-right: 20px; /* Add some margin between cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for card headings */
.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for card content */
.card p {
    font-size: 14px;
    color: #333;
}



.skills__container{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,.skills__arrow{
        font-size: 2rem;
        color: var(--first-color);
}

.skills__icon{
    margin-right: var(--mb-0-75);
}

.skills__title{
     font-size: var(--h3-font-size);
}
.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,.skills__percentage{
    height: 5px;
    border-radius: .25rem;

}

.skills__bar{
    background-color: var(--first-color-lighter);
}
.skills__percentage{
    display: block;
    background-color: var(--first-color);
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__html{
    width: 90%;
}
.skills__css{
    width: 65%;
}
.skills__js{
    width: 75%;
}
.skills__bootstrap{
    width: 80%;
}
.skills__jQuery{
    width: 50%;
}
.skills__python{
    width:85%;
}
.skills__django{
    width:85%;
}
.skills__java{
    width:75%;
}
.skills__ccpp{
    width:85%;
}
.skills__angular{
    width:70%;
}
.skills__react{
    width:70%;
}

/* Association */
 /* Style for the association section container */
 .association-section {
    padding: 40px 0;
}

/* Style for the container that holds the company logos */
.company-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Style for each company logo */
.company-logo {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

/* Hover effect on company logos */
.company-logo:hover {
    transform: scale(1.1);
}

/* Style for company logo images */
.company-logo img {
    max-width: 100%;
    max-height: 100%;
}

/* Testimonials */
.owl-carousel.testimonial-carousel {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    width: 100%;
    display: flex;
    gap: 10px; /* Optional: Add some space between items */
    padding-bottom: 20px; /* Optional: Add some space at the bottom to avoid horizontal scrollbar overlap */
}

.testimonial-carousel {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    width: 100%;
    display: flex;
    gap: 10px; /* Optional: Add some space between items */
    padding-bottom: 20px;
  }
  
  .testimonials-wrapper {
    width: 95%;
    max-width: 500px;
    margin: 0 auto
  }
  
  .testimonials-wrapper h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    padding: 30px;
    color: #000;
    border-radius: 5px;
    background: #fff;
    box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3)
  }
  
  .testimonials-blob,
  .testimonials-img {
    border-radius: 100%
  }
  
  .testimonials-img {
    position: relative;
    left: 50%;
    overflow: hidden!important;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: -50px;
    box-shadow: 0 0 0 5px #171719;
    transition: all ease-out .5s;
    transform: translateY(-30%);
    /* filter: brightness(2) */
  }
  
  .testimonial-carousel .active .testimonials-img {
    transform: translateY(0);
    /* filter: brightness(1) */
  }
  
  .testimonials-person-info {
    text-align: center;
    /* color: #fff */
  }
  
  .testimonials-blob {
    position: relative;
    left: 80%;
    width: 3px;
    height: 3px;
    transform: rotate(45deg)
  }
  
  @keyframes anim {
    0% {
      opacity: 0;
      box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff
    }
    50% {
      box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff
    }
    100% {
      opacity: 1;
      background: #fff;
      box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff
    }
  }
  
  .testimonial-carousel .active .testimonials-blob {
    transform-origin: 50% 50%;
    animation: anim linear .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
  }
  
  .testimonial-carousel {
    overflow: hidden;
    cursor: grab
  }
  
  .testimonial-carousel:active {
    cursor: grabbing
  }
  
  .testimonial-carousel .owl-item {
    overflow: hidden;
    transition: all ease-out .3s;
    transform: scale(.7);
    opacity: 0
  }
  
  .testimonial-carousel .owl-item.active {
    transform: scale(1);
    opacity: 1
  }
  
  .testimonial-carousel .owl-next,
  .testimonial-carousel .owl-prev {
    font-size: 13px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    padding: 0 10px;
    transition: all ease-out .25s;
    transform: translateY(-100%);
    opacity: 1;
    color: #fff;
    border-radius: 3px;
    background: #171719
  }
  
  .testimonial-carousel .owl-next:hover,
  .testimonial-carousel .owl-prev:hover {
    color: #fff;
    background: #615e6b
  }
  
  .testimonial-carousel .owl-prev {
    left: 0
  }
  
  .testimonial-carousel .owl-next {
    right: 0
  }
  
  .testimonial-carousel .owl-next.disabled,
  .testimonial-carousel .owl-prev.disabled {
    opacity: 0
  }

  .single-testimonial {
    flex: 0 0 auto;
    width: 300px; /* Optional: Add some space between items */
}


/* Qualifications */
.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button{
   font-size: var(--h3-font-size);
   font-weight: var(--font-medium);
   cursor: pointer;  
}

.qualification__button:hover{
    color: var(--first-color);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data{
    /* display: grid; */
    /* grid-template-columns: 1fr max-content 1fr; */
    column-gap: 1.5rem;
}

.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
}

.qualification__calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/* .qualification [data-content]{
    display: none;
}
.qualification__active [data-content]{
    display: block;
} */

/* Projects */
.technologies_used{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.project-content{
    padding-bottom: 20px;
}
.project__icon{
    font-size: 1.25rem;
   color: var(--first-color-alt);
}

/* CONTACT ME */
.contact__container{
    row-gap: 3rem;
}
.contact__information{
    display: flex;
    margin-bottom: var(--mb-2); 
}
.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}
.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);  
}

.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .23rem;
}

.contact__label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}
.contact__input{
    border: none;
    background-color: var(--input-color); 
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    outline: none;
    padding: .25rem .5rem .5rem 0;
    width: 100%;
}

/* FOOTER  */
.footer{
    padding-top: 2rem;
}
.footer__container{
    row-gap: 3.5rem;
}
.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}
.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}
.footer__subtitle{
    font-size: var(--small-font-size);
}
.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.footer__link:hover{
    color: var(--first-color-lighter);
}
.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
    margin-bottom: var(--mb-1-5);
}
.footer__social:hover{
    color: var(--first-color-lighter)
}

.footer__title,.footer__subtitle,.footer__link,.footer__social{
   color: #FFF;
}

/* Active Links  */
.actice-link{
    color: var(--first-color);
}

.scroll-header{
    box-shadow: 0 -1px 6px rgba(0,0,0,.15);
}

/* Scroll up  */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup:hover{
    background-color: var(--first-color-alt);
}

.scrollup__icon{
    font-size:1.5rem;
    color: #FFF;
}

/* SHOW SCROLL */
.show-scroll{
    bottom: 5rem;
}

/* // MEDIA QUERY  */
/* for small devices */
@media screen and(min-width:390px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav__menu{
        padding:2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
    }
    .skills__title{
        font-size: var(--normal-font-size);
    }
    .home__blob{
        max-width: 180px;
    }
}

/* for medium size device */
@media screen and (min-width:568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data{
        grid-column: initial;
    }
    .contact__container,.footer__container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding:6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top: 0;
        bottom: initial;
    }
    .header,.main,.footer__container{
        padding: 0 1rem;
    }
    .nav{
        /* height: calc(var(--header-height)+1.5rem); */
        column-gap: 1rem;
    }
    .nav__toggle,.nav__close{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob{
        width: 380px;
    }
    .about__description{
        justify-content: center;
    }
    .home__social-icon,.project__icon{
        font-size: 2.5rem;
    }
}

